@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

/* 全体 */
body {
	background-attachment: fixed, fixed;
	background-image: url("/images/home.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Cherry Swash', cursive;

	/* 中央寄せ */
	text-align: center;
	/* 最小幅 */
	min-width: 900px;
}

/* メイン */
main {
	background-color: #ffefe0;
	min-height: 100px;
	padding: 8px;
}

div {
	background-color: #ffe0ef;
	padding: 1px;
}

h1 {
	border-bottom: 2px solid #ffffc1;
	width: 12em;
	letter-spacing: 0;
}

h2 {
	border-bottom: 2px solid #ffffc1;
	width: 12em;
	letter-spacing: 0;
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	width: 600px;
	height: 7px;
	text-align: center;
}

p {
	height: 7px;
	text-align: center;
}

/* 表 */
table {
	margin: 5px auto;
}

/* 表見出しセル */
table th {
	background: #7d8bae;
	color: #ffffff;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

/* Form */

	input[type="text"],
	textarea {
		background: rgba(144, 144, 144, 0.15);
		border: none;
		padding: 0 1em;
	}

	input[type="text"],
	select {
		height: 3em;
	}