<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css1/header.css">
<div id="ppp">
  <ul class="menu">
    <li>
		<form method="post" action="/replan">
		<button>予定の生成</button>
		</form>
    </li>
    <li>
    	<form method="post" action="/myplan">
		<button>マイページ</button>
		</form>
	</li>
	<li>
    	<form method="post" action="/logout">
		<button>ログアウト</button>
		</form>
	</li>
  </ul>
</div>
<head>
	<meta charset="UTF-8">
	<title>新規登録確認</title>
	<br>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 130vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<main>
	<form action="/account/finish" method="post" name="yyy">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="password" th:value="${account.password}">

		<div style="margin-top: 0px;">
			<h2><span style="color: #008080">以下の内容で登録します</span></h2></div>

		<table border="1">
			<link rel="stylesheet" type="text/css" href="/css1/style2.css">
			<tr>
				<th style="height: 25.px;">ユーザー名</th>
				<td>
					<p th:text="${account.name}" maxlength="10"></p>
				</td>
			</tr>

			<tr>
				<th width="150px" hight="25px">パスワード</th>
				<td>
					<p th:text="${account.password}"></p>
				</td>
			</tr>

		</table>
		<a href="javascript: yyy.submit();" class="tbtn tbtn-svg">
				<svg>
					<rect x="2" y="2" rx="0" fill="none"  width=170 height="35"></rect>
				</svg>
				<span style="font-size: 62.5%">登録</span>
			</a>
	</form>

	<form action="/account" method="get" name="zzz">
		<input type="hidden" name="name" th:value="${account.name}">
		<input type="hidden" name="password" th:value="${account.password}">
		<a href="javascript: zzz.submit();" class="tbtn tbtn-svg">
				<svg>
					<rect x="2" y="2" rx="0" fill="none"  width=170 height="35"></rect>
				</svg>
				<span style="font-size: 62.5%">戻る</span>
			</a>
	</form>
</main>

</html>