<!DOCTYPE html>
<brh="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>顧客登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<br>
	<h1>顧客登録</h1>

	<form action="/account/add" method="post">
	
	<span th:text="${error}" style="color: red"></span>

		<table border="1">
			<tr>
				<th>名前</th>
				<td>
					<input type="text" name="name" th:value="${name}">
				</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" th:value="${password}">
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>

</body>
</html>