<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>新規登録</title>
		<br>
		<style>
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100vh;
				text-align: center;
			}
		</style>
	</head>
	<link rel="stylesheet" type="text/css" href="/css1/style.css">
	<br>
	<main>
		<h2 style="color: #939393">新規登録</h2>
		<form action="/account/add" method="post">

			<span th:text="${error}" style="color: red"></span>

			<table border="1">
				<tr>
					<th width="150px" hight="25px">名前</th>
					<td>
						<input type="text" name="name" th:value="${name}">
					</td>
				</tr>

				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password" th:value="${password}">
					</td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>

	</body>

	</html>