<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 120vh;
			text-align: center center;
		}
	</style>

</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">

<body>
	<header style="	text-align:center;">
		<h1 style="color: #ffffc1" ;>ようこそ、[[${@user.name}]]さん</h1>
	</header>
	<main>
		<form action="/plan" method="post" name="bbb">
			今の季節を教えてください
			<br>
			<input type="radio" name="season" value="1" checked>春
			<input type="radio" name="season" value="2">夏
			<input type="radio" name="season" value="3">秋
			<input type="radio" name="season" value="4">冬
			<br>
			お出かけの際の天気を教えてください
			<br>
			<input type="radio" name="weather" value="1" checked>晴れ
			<input type="radio" name="weather" value="2">雨
			<br>
			お出かけは何で移動しますか？
			<br>
			<input type="radio" name="vehicle" value="1" checked>電車
			<input type="radio" name="vehicle" value="2">車
			<br>
			お出かけ先では、何が食べたいですか？
			<br>
			<select name="food">
				<option value="8" selected>おまかせ</option>
				<option value="1">肉料理</option>
				<option value="2">魚料理</option>
				<option value="3">野菜料理</option>
				<option value="4">日本料理</option>
				<option value="5">中華</option>
				<option value="6">洋食</option>
				<option value="7">異国料理</option>
			</select>
			<br>
			お出かけに当たって、何がしたいですか？
			<br>
			<select name="act">
				<option value="10" selected>おまかせ</option>
				<option value="1">買い物</option>
				<option value="2">カルチャー</option>
				<option value="3">遊び</option>
				<option value="4">運動</option>
				<option value="5">ものづくり</option>
				<option value="6">動物</option>
				<option value="7">自然/風景</option>
				<option value="8">散策</option>
				<option value="9">リラックス</option>
			</select>
			<br>
			<a href="javascript: bbb.submit();" class="tbtn tbtn-svg">
				<svg>
					<rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
				</svg>
				<span style="font-size: 62.5%">Let's planning!</span>
			</a>
		</form>
	</main>
</body>

</html>