<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<br>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<main>

	<br> <span th:text="${errorLog}" style="color: red"></span>

	<table border="1">
		<form action="/login" method="post">
			<tr>
				<th width="150px" hight="25px">名前</th>
				<td>
					<input type="text" name="name" placeholder="名前" maxlength="10"><br>
				</td>
			</tr>
			<tr>
				<th width="150px" hight="25px">パスワード</th>
				<td>
					<input type="text" name="password" placeholder="password" maxlength="15"><br>
				</td>
			</tr>
			</table>	
			<input type="submit" value="ログイン" style="bottom:30px">
		</form>

</main>
<div>
	<a href="/account" style="padding-left: 10px;">新規登録</a>
</div>
</body>

</html>