<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<br>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 130vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">

<main>

	<br> <span th:text="${errorLog}" style="color: red"></span>

	<table border="1">
		<form action="/login" method="post">
			<tr>
				<th>ユーザー名</th>
				<td>

					<input type="text" name="name" placeholder="Username" maxlength="10"><br>

				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="password" name="password" placeholder="password" maxlength="15"><br>
				</td>
			</tr>
			</table>	
			<input type="submit" value="ログイン" style="bottom:30px">
		</form>
			<form action="/account" method="get" >
			<input type="submit" value="新規登録" style="bottom:30px">
		</form>
</main>	
</body>
</html>