<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css1/header.css">
<div id="ppp">
  <ul class="menu">
    <li>
		<form method="post" action="/replan">
		<button>予定の生成</button>
		</form>
    </li>
    <li>
    	<form method="post" action="/myplan">
		<button>マイページ</button>
		</form>
	</li>
	<li>
    	<form method="post" action="/logout">
		<button>ログアウト</button>
		</form>
	</li>
  </ul>
</div>
<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<header>
		<h1>[[${plandate}]]</h1>
	</header>
	<main>
		<table border="1">
			<tr>
				<th>開始時刻</th><th>終了時刻</th><th>行動</th><th>場所</th>
			</tr>
			<tr th:each="t:${timetable}">
				<td>
					[[${t.starttime}]]
				</td>
				<td>
					[[${t.finishtime}]]
				</td>
				<td>
					[[${t.action}]]
				</td>
				<td>
					[[${t.place}]]
				</td>
			</tr>
		</table>
		<form action="/myplan" method="post">
			<input type="submit" value="一覧へ">
		</form>
	</main>
</body>
</html>