<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<header>
		<h1>[[${username}]]さんの休日</h1>
	</header>
	<main>
		<th:block th:each="t,ti : ${timetable}">
			[[${ti.count}]] .[[${t.plandate}]]
			<br>
		</th:block>
	</main>
</body>
</html>