<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css1/header.css">
<div id="ppp">
  <ul class="menu">
    <li>
		<form method="post" action="/replan">
		<button>予定の生成</button>
		</form>
    </li>
    <li>
    	<form method="post" action="/myplan">
		<button>マイページ</button>
		</form>
	</li>
	<li>
    	<form method="post" action="/logout">
		<button>ログアウト</button>
		</form>
	</li>
  </ul>
</div>
<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<header>
		<h1>[[${username}]]さんの休日</h1>
	</header>
	<main>
		<th:block th:if="${timetable}" th:each="t,ti : ${timetable}">
			[[${ti.count}]] .
			<a th:href="|/myplan/${t.planid}|">
				<input type="hidden" name="planid" th:value="${t.planid}">
				[[${t.plandate}]]
			</a>
			<br>
		</th:block>
		<th:block th:if="${emp} == 1">
			<h2>予定を登録しましょう！</h2>
		</th:block>
	</main>
</body>
</html>