<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<header>
		<h1></h1>
	</header>
	<main>
		<table border="1">
			<tr th:each="t:${timetable}">
				<td>
					[[${t.starttime}]]
				</td>
				<td>
					[[${t.finishtime}]]
				</td>
				<td>
					[[${t.action}]]
				</td>
				<td>
					[[${t.place}]]
				</td>
			</tr>
		</table>
	</main>
</body>
</html>