<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<header>
		<h1>完了</h1>
	</header>
	<main>
		<h2>
			<form action="/myplan" method="post">
				<input type="submit" value="マイページへ">
			</form>
			<form action="/replan" method=post >
				<input type="submit" value="もう一度予定を生成する">
			</form>
		</h2>
	</main>
</body>
</html>