<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css1/header.css">
<div id="ppp">
  <ul class="menu">
    <li>
		<form method="post" action="/replan">
		<button>予定の生成</button>
		</form>
    </li>
    <li>
    	<form method="post" action="/myplan">
		<button>マイページ</button>
		</form>
	</li>
	<li>
    	<form method="post" action="/logout">
		<button>ログアウト</button>
		</form>
	</li>
  </ul>
</div>
<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/timetable.css">

<body>
	<header>
		<h1>完了</h1>
	</header>
	<main>
		<h2>
			<form action="/myplan" method="post" name="zzz">
				<a href="javascript: zzz.submit();" class="tbtn tbtn-svg">
					<svg>
						<rect x="2" y="2" rx="0" fill="none" width=170 height="35"></rect>
					</svg>
					<span style="font-size: 62.5%">マイページへ</span>
				</a>
			</form>
			
			<form action="/replan" method=post name="mmm">
				<a href="javascript: mmm.submit();" class="tbtn tbtn-svg">
					<svg>
						<rect x="2" y="2" rx="0" fill="none" width=170 height="35"></rect>
					</svg>
					<span style="font-size: 62.5%">再度予定を生成する</span>
				</a>
			</form>
		</h2>
	</main>
</body>

</html>