<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/style.css">
<body>
	<form action="/detail/complete" method="post">
	<header>
	</header>
	<main>
		<table border="1">
			<tr>
				<th>開始</th><th>終了</th><th>目的</th><th>場所</th><th>更新</th><th>削除</th>
			</tr>
			<tr th:each="t : ${timetables}">
				<form th:action="|/detail/${t.id}/edit|" method="post">
				<td>
					<input type="time"  name="starttime" min="00：00" max="23：59" th:value="${t.starttime}">
				</td>
				<td>
					<input type="time" name="finishtime" min="00：00" max="23：59" th:value="${t.finishtime}">
				</td>
				<td>
					<input type="text" name="action" th:value="${t.action}">
				</td>
				<td>
					<input type="text" name="place" th:value="${t.place}">
				</td>
				<td>
					<input type="hidden"  name="id" th:value="${t.id}">
					<input type="submit" value="更新">
				</td>
				</form>
				<td>
					<form th:action="|/detail/${t.id}/delete|" method="post">
						<input type="hidden"  name="id" th:value="${t.id}">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</table>
		<br>
		<form action="/detail/add" method="post">
		<table>
			<tr>
				<th>開始</th><th>終了</th><th>目的</th><th>場所</th><th></th>
			</tr>
				<td>
					<input type="time"  name="starttime" min="00：00" max="23：59">
				</td>
				<td>
					<input type="time" name="finishtime" min="00：00" max="23：59">
				</td>
				<td>
					<input type="text" name="action">
				</td>
				<td>
					<input type="text" name="place">
				</td>
				<td>
					<input type="submit" value="行程追加">
				</td>
		</table>	
		</form>
	</main>
	<input type="submit" value="確定">
	</form>
</body>
</html>