<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>holiday</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}
	</style>
</head>
<link rel="stylesheet" type="text/css" href="/css1/timetable.css">

<body>
	<header>
		<h1>以下の予定を追加しますか？</h1>
	</header>
	<main>
		<form action="/detail/complete" method="post" name="uuu">
			<h2>
				[[${username}]]さん<br>
				<input type="hidden" name="username" th:value="${username}">
				<input type="date" name="plandate" th:min="${plandate}" th:value="${plandate}">の予定
			</h2>
			<table border="1">
				<tr>
					<th>開始</th>
					<th>終了</th>
					<th>目的</th>
					<th>場所</th>
				</tr>
				<tr th:each="t : ${timetables}">
					<td>
						[[${t.starttime}]]
					</td>
					<td>
						[[${t.finishtime}]]
					</td>
					<td>
						[[${t.action}]]
					</td>
					<td>
						[[${t.place}]]
					</td>
				</tr>
			</table>
			<a href="javascript: uuu.submit();" class="tbtn tbtn-svg">
				<svg>
					<rect x="2" y="2" rx="0" fill="none" width=170 height="35"></rect>
				</svg>
				<span style="font-size: 62.5%">追加</span>
			</a>
		</form>
		<form action="/detail/replan" method="post" name="nnn">
			<a href="javascript: nnn.submit();" class="tbtn tbtn-svg" value="ログイン">
				<svg>
					<rect x="2" y="2" rx="0" fill="none" width=170 height="35"></rect>
				</svg>
				<span style="font-size: 62.5%">戻る</span>
			</a>
		</form>
	</main>
</body>

</html>